// Palette de rouges
// Définition des couleurs principales et de leurs variantes pour les accents et arrière-plans.

$rouge-primaire: #e00000;
$rouge-secondaire: #fe5858;
$rouge-tertiaire: #ffd6d6;

// Palette de neutres
// Couleurs neutres utilisées pour les textes, fonds et bordures.

$noir: #000;
$blanc: #fff;
$gris-fonce: #c4c4c4;
$gris-medium: #d8d8d8;
$gris-light: #e5e5e5;

// Palette de bleus
// Couleur principale pour les éléments de contraste.

$bleu-fonce: #313144;

// Couleurs supplémentaires
// Définition des couleurs utilisées pour les bordures et autres éléments.

$border-input: #b8bbc2;
