// Section de base pour les photos liées
// Configuration de la mise en page et du style typographique pour les photos liées.

.related-photo-section {
  display: flex;
  align-items: center;
  width: 82%;
  height: auto;
  margin: 0;
  background-color: $blanc;
  border-top: 1px solid $noir;

  // Titre de la section
  h3 {
    font-family: "SpaceMonoRegular", monospace;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: $noir;
  }
}

// Media queries pour ajuster les styles sur des écrans de taille moyenne
@media screen and (max-width: 1024px) {
  .related-photo-section {
    width: 100%;
    justify-content: center;
    border-top: none;
  }
}
